footer {
    color: #ffffff;
    margin-top: auto;
    background-color: #000000;
    padding: 8px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h3 {
    padding-top: 30px;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    width: 600px;
}

.about-us {
    padding-top: 40px;
}
h4{
    padding-top: 30px;
}
.about-us-p{
    padding-top: 40px;
}
a{
    font-size: 1rem;
}