.navbar-nav .nav-item {
    margin-right: 20px;
    margin-left: 20px;
}
.navbar,
.navbar * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.header::after {
    content: '';
    display: block;
    height: 8px;
    background-image: linear-gradient(to bottom, #a2a2a2, #ffffff); /* Gradient effect */
    width: 100%;
}
footer {
    color: #ffffff;
    margin-top: auto;
    background-color: #000000;
    padding: 8px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



h3 {
    padding-top: 30px;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    width: 600px;
}

.about-us {
    padding-top: 40px;
}
h4{
    padding-top: 30px;
}
.about-us-p{
    padding-top: 40px;
}