<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a Problem</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}">
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <style>
        .nav-item{
            letter-spacing: 0.05rem;
            font-family: "Poppins", sans-serif;
        }
        .btn span{
            letter-spacing: 0.05rem;
            margin-left: 5px;
        }
        .header .container{
            padding: 0; !important;
        }
        .navbar-nav{
            margin-left: 20px;!important;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between">
            <div class="container-fluid">
                <a class="navbar-brand m-l-auto" href="/">
                    <img  th:src="@{/images/icons/logo.png}" alt="Logo" style="height: 30px;">
                </a>

                <div class="justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/problems">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" th:text="${person}">Profile</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" action="/person/logout" sec:authorize="isAuthenticated()">
                    <button class="btn btn-sign-out" type="submit" style="background: white">
                        <span>Sign out</span>
                        <img th:src="@{/images/icons/box-arrow-right.png}" alt="Sign Out" style="height: 24px;">
                    </button>
                </form>
                <form class="d-flex" action="/person/login" sec:authorize="!isAuthenticated()">
                    <button class="btn btn-sign-in" type="submit" style="background: white">
                        <span>Sign in</span>
                        <img th:src="@{/images/icons/box-arrow-right.png}" alt="Sign In" style="height: 24px;">
                    </button>
                </form>
            </div>
        </nav>

    </div>
</header>
<div>
    <p th:if="${invalidImageFormat}" th:text="${#strings.toString(invalidImageFormat)}" style="color: yellow">fewfwfwt4e</p>

    <p th:if="${fileTooLarge}" th:text="${fileTooLarge}"></p>

    <form method="POST" th:if="${problem != null}" th:action="@{'/problem/add/{id}' (id=${problem?.getId()})}"  enctype="multipart/form-data">

       <!--<label> Name: <br>
           <input type="text" name="title" th:value="${problem?.title}" required>
       </label> <br>

        <label> Address: <br>
            <input type="text" name="address" th:value="${problem?.address}" required>
        </label> <br>

        <label> Choose institution: <br>
            <select name="institutionId">
                <option th:each="institution : ${institutions} " th:value="${institution.getId()}"
                        th:selected="${institution.getId() == institution.id}"
                        th:text="${institution.getName()}"
                ></option>
            </select>
        </label>
        <label> Description: <br>
            <input type="text" name="description" th:value="${problem?.description}" required>
        </label> <br>

        <div th:text="${#strings.toString(invalidImageFormat)}" style="color: yellow">fewfwfwt4e</div>



        <div th:if="${problem != null}">
            <label> Status: <br>
                <select name="status" required>
                    <option th:each="status : ${status}" th:value="${status}"
                    th:text="${status}" th:selected="${status} == ${problem.status}"></option>
                </select>
            </label> <br>
            <label> Impact: <br>
                <select name="impact" required>
                    <option th:each="impact : ${impact}" th:value="${impact}"
                            th:text="${impact}"></option>
                </select>

            </label> <br>
        </div>

        <button type="submit">Save</button>-->
        <div class="container full-height justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-8">
                    <div class="card custom-card-width">
                        <div class="card-header">
                            <h4 class="text-center">Tell Us About a City Issue</h4>
                        </div>
                        <div class="card-body">
                            <div class="text-center mb-4">
                                <img  th:src="@{/images/icons/logo.png}" alt="Logo" style="height: 30px;">
                            </div>
                                <div class="form-group">
                                    <label> Name </label>
                                    <input class="form-control" type="text" name="title" th:value="${problem?.title}" required>
                                </div>

                                <div class="form-group">
                                    <label >Address </label>
                                    <input  class="form-control" type="text" name="address" th:value="${problem?.address}" required>
                                </div>


                                <div class="form-group">
                                    <label > Choose institution </label>
                                    <select name="institutionId"  class="form-control">
                                        <option th:each="institution : ${institutions} " th:value="${institution.getId()}"
                                                th:selected="${institution.getId() == institution.id}"
                                                th:text="${institution.getName()}"
                                        ></option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label > Description</label>
                                    <textarea class="form-control" rows="3"  name="description" th:value="${problem?.description}" th:text="${problem?.description}" required></textarea>

                                </div>

                                <label> Status: <br>
                                    <select name="status" required>
                                        <option th:each="status : ${status}" th:value="${status}"
                                                th:text="${status}" th:selected="${status} == ${problem.status}"></option>
                                    </select>
                                </label> <br>
                                    <div class="form-group">
                                        <label> Impact: <br>
                                            <select name="impact" required>
                                                <option th:each="impact : ${impact}" th:value="${impact}"
                                                        th:text="${impact}" th:selected="${impact} == ${problem.impact}"></option>
                                            </select>

                                        </label> <br>

                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label > City</label>
                                        <select name="cityId" class="form-control" required>
                                            <option th:each="city : ${cities}"
                                                    th:value="${city.id}"
                                                    th:text="${city.name}"
                                                    th:selected="${city} == ${problem.city}"
                                            ></option>
                                        </select>
                                    </div>

                                <div>

                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-block btn-black">Save</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div th:if="${problem == null}" sec:authorize="hasRole('ROLE_USER')">
    <div class="container full-height justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-8">
                <div class="card custom-card-width">
                    <div class="card-header">
                        <h4 class="text-center">Tell Us About a City Issue</h4>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <img  th:src="@{/images/icons/logo.png}" alt="Logo" style="height: 30px;">
                        </div>
                        <form method="post" th:unless="${problem != null}" th:action="@{'/problem/add'}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nameInput"> Name </label>
                                <input id="nameInput" class="form-control" type="text" name="title" th:value="${problem?.title}" required>
                            </div>

                            <div class="form-group">
                                <label for="addressInput">Address </label>
                                <input id="addressInput" class="form-control" type="text" name="address" th:value="${problem?.address}" required>
                            </div>


                            <div class="form-group">
                                <label for="institutionSelect"> Choose institution </label>
                                <select name="institutionId" id="institutionSelect" class="form-control">
                                    <option th:each="institution : ${institutions} " th:value="${institution.getId()}"
                                            th:selected="${institution.getId() == institution.id}"
                                            th:text="${institution.getName()}"
                                    ></option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="descriptionInput"> Description</label>
                                <textarea class="form-control" rows="3" id="descriptionInput" type="text" name="description" th:value="${problem?.description}" required></textarea>

                            </div>

                            <div class="form-group">
                                <label for="imageUpload"> Select an image to upload </label>
                                <input type="file" id="imageUpload" class="form-control-file" name="image" th:if="${problem == null}" required>
                                <small class="form-text text-muted">or drag and drop it here.</small>
                                <!--<input type="file" name="image" th:unless="${problem?.getId() == null}">-->
                            </div>

                            <div th:if="${problem == null}">
                                <!--<label> Status: <br>
                                    <select name="status" required>
                                        <option th:each="status : ${status}" th:value="${status}"
                                                th:text="${status}"></option>
                                    </select>
                                </label> <br>-->
                                <div class="form-group">
                                    <label for="impactInput"> Impact </label>
                                    <select name="impact" required id="impactInput" class="form-control">
                                        <option th:each="impact : ${impact}" th:value="${impact}"
                                                th:text="${impact}"></option>
                                    </select>

                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="cityInput"> City</label>
                                    <select name="cityId" id="cityInput" class="form-control" required>
                                        <option th:each="city : ${cities}"
                                                th:value="${city.id}"
                                                th:text="${city.name}"
                                        ></option>
                                    </select>
                                </div>
                            </div>

                            <div>

                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-block btn-black">Report</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        LocalFix 2024 &copy;
    </footer>
</div>
</div>
</body>
</html>